# node
node_modules/

# android
android/.gradle/
android/build/
android/app/build/
android/hs_err_pid*.log
android/replay_pid*.log

# ios
ios/Pods/

# editor
.vscode/

# misc
.env
# Android build files
android/app/.cxx/
android/local.properties
# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Metro / cache
.expo/
.metro-health-check*

# Android
android/.idea/
android/*.iml

# iOS
ios/build/
ios/*.xcworkspace
